/*#region ПЕРЕОПРЕДЕЛЕНИЕ СТИЛЕЙ BOOTSTRAP */

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.block.text-center {
    width: 350px;
    height: auto;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0.4em 0.2em 5px rgba(122,122,122,0.5);
}

.pag--page-1.content-page.content-page-active,
.pag--page-2.content-page.content-page-active,
.pag--page-3.content-page.content-page-active,
.pag--page-4.content-page.content-page-active,
.pag--page-5.content-page.content-page-active,
.pag--page-6.content-page.content-page-active,
.pag--page-7.content-page.content-page-active,
.pag--page-8.content-page.content-page-active,
.pag--page-9.content-page.content-page-active,
.pag--page-10.content-page.content-page-active,
.pag--page-11.content-page.content-page-active {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.block {
    /* height: 290px; */
    width: auto;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #333333;
    padding: 10px;
}

.btn {
    display: flex;
    background-color: #36AFA8;
    border-color: #36AFA8;
    height: 60px;
    padding: 10px 30px;
}

.btn-primary {
    color: #fff;
    background-color: #36AFA8;
    border-color: #36AFA8;
}

.btn-primary:hover {
    color: #fff;
    background-color: #00635e;
    border-color: #36AFA8;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
    color: #fff;
    background-color: #006D68;
    border-color: #36AFA8;
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #006D68;
    border-color: #36AFA8;
}

.btn-primary:disabled, .btn-primary.disabled {
    color: #fff;
    background-color: #006D68;
    border-color: #36AFA8;
}

.btn-primary {
    align-items: center;
}

.btn .btn-primary .active {
    background-color: #006D68;
}


/*#endregion ПЕРЕОПРЕДЕЛЕНИЕ СТИЛЕЙ BOOTSTRAP */


/*#region ФУТЕР, ПАГИНАЦИЯ, КАРТОЧКИ ТОВАРОВ */

#first_row {
    margin-top: 36px;
}

#second_row {
    margin-top: 36px;
}

.abc > img {
    height: 100%;
}

#id {
    margin-top: 162px;
}

.modal {
    z-index: 10000;
}

.pagination {
    justify-content: center;
}

.goods {
    margin-bottom: 28px;
}

.navbar {
    height: 84px;
}

.page-item.active .page-link {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.page-link,
.page-link:hover,
.page-link:focus {
    color: #333333;
}

.pagi {
    margin-bottom: 28px;
}

.foot {
    margin-bottom: 26px;
}

.rectangle_footer {
    margin-bottom: 26px;
}

.rectangle_header,
.rectangle_footer {
    background-color: #4CAF50;
    height: 10px;
    width: auto;
}

footer {
    background-color: #333333;
}

.icon {
    align-items: center;
    height: 50px;
    width: auto;
    border: 1px solid transparent;
    border-color: #333333;
}

#anchor {
    color: antiquewhite;
    font-size: 18px;
}

.card {
    width: 350px;
    height: 290px;
}


/*#endregion ФУТЕР, ПАГИНАЦИЯ, КАРТОЧКИ ТОВАРОВ */


/*#region МЕНЮ */

.navbar-toggler {
    background-color: #FBFFFF !important;
}

.navbar-brand {
    color: #FBFFFF !important;
}

#footer-logo {
    height: 100%;
}


/*#endregion МЕНЮ */


/*#region СЛАЙДЕР */

#parallax-1 {
    padding: 30px;
}

img.sld {
    height: 184px !important;
    width: 100% !important;
    /*width: 328px !important;*/
}

img.sld-modal {
    height: 236px !important;
    width: 100% !important;
}

.sim-slider {
    max-width: 1000px;
    min-width: 200px;
    margin: 20px auto;
    padding: 30px 50px;
    border: 1px solid #11192f;
    background-color: rgba(76, 175, 79, 0.75);
    font-size: 24px;
}


/* Первичные стили:
 С ними работает слайд шоу */

.sim-slider {
    position: relative;
}

.sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.sim-slider-element {
    width: 100%;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
}


/* Второстепенные стили:
 Внешний вид; */

div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
    width: 22px;
    /* width: 40px; */
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 4;
}

div.sim-slider-arrow-left {
    left: 10px;
    top: 40%;
    display: block;
    /* font-size: 32px; */
    background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png") no-repeat;
    /* background: url(logo/m_left-red.png) no-repeat; */
}

div.sim-slider-arrow-right {
    right: 10px;
    top: 40%;
    display: block;
    /* font-size: 32px; */
    background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png") no-repeat;
    /* background: url(logo/m_right-red.png) no-repeat; */
}

div.sim-slider-arrow-left:hover {
    opacity: 1.0;
}

div.sim-slider-arrow-right:hover {
    opacity: 1.0;
}

div.sim-slider-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
    color: red;
}

span.sim-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: antiquewhite;
    border-radius: 5px;
    cursor: pointer;
}


/*#endregion СЛАЙДЕР */


/*#region КОРЗИНА */

#cart_content {
    margin-top: 10px;
    padding: 5px;
    /* border: 1px solid #060; */
}

.item_box {
    border: 1px solid #999;
    margin-bottom: 10px;
    padding: 5px;
}

#checkout,
#clear_cart {
    margin: 1px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px #212529;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

#checkout:hover {
    background-color: rgb(71, 216, 75);
}

#clear_cart:hover {
    background-color: rgb(255, 148, 148);
}

.shopping_list {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

.shopping_list td,
.shopping_list th {
    padding: 5px;
    /* border: 1px solid #AAAAAA; */
}

.shopping_list th:last-child {
    width: 1%;
}

.shopping_list tr {
    background-color: #EDEDED;
}

.shopping_list tr:last-child {
    background-color: #EDEDED;
    font-weight: bold;
}

.del_item_in-cart {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    text-align: center;
    line-height: 25px;
    color: black;
    cursor: pointer;
}

.del_item {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(255, 187, 0);
    text-align: center;
    line-height: 25px;
    color: black;
    cursor: pointer;
}

.add_item_in-cart {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(12, 122, 26);
    text-align: center;
    line-height: 25px;
    color: black;
    cursor: pointer;
}

.del_item_in-cart,
.del_item,
.add_item_in-cart {
    margin: 5px;
}

.block_cart {
    height: auto;
    width: auto;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #333333;
    padding: 10px;
    margin: 20px auto;
}


/*#endregion КОРЗИНА */


/*#region ПАРАЛЛАКС */

.parallax {
    position: relative;
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


/*#endregion ПАРАЛЛАКС */


/*#region СКРОЛЛИНГ */

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 110px;
    left: 38px;
    display: none;
    text-indent: -9999px;
    background: url('/logo/icon_top.png') no-repeat;
    background-size: cover;
}

.scrollup_catalog {
    z-index: 10000;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 110px;
    left: 38px;
    text-indent: -9999px;
    background: url('/logo/icon_top.png') no-repeat;
    background-size: cover;
}


/*#endregion СКРОЛЛИНГ */




*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

h1 {
    text-align: center;
    font-size: 20px;
}


html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

.clear {
    clear: both;
}

.mesage_error {
    color: #cc0000;
}

.success_message {
    color: green;
}

.block_for_messages {
    text-align: center;
}

#header, #footer {
    background-color: #36AFA8;
}

#header {
    position: fixed; /* Фиксированное положение */
    left: 0;
    top: 0;
    width: 100%;
}

#footer {
    left: 0;
    bottom: 0; /* Левый нижний угол */
    width: 100%;
}

#header h2, #footer h2 {
    text-align: center;
    margin: 0;
}

#auth_block {
    width: 290px;
    float: right;
    text-align: center;
}

#auth_block a {
    display: block;
    /*padding: 10px;*/
    border-radius: 10px;
    color: #fff;
    width: 110px;
    height: 30px;
    text-decoration: none;
}

#auth_block a:hover {
    text-decoration: underline;
}

#link_register {
    float: left;
}

#link_auth, #link_logout {
    float: right;
}

#link_register a {
    background: #006D68;
    border: #36AFA8 solid 2px;
}

#link_auth a, #link_logout a {
    background: #006D68;
    text-align: center;
    border: #36AFA8 solid 2px;
}

/* Блок с формой регистрации */
#form_register, #form_auth {
    width: 400px;
    margin: 0 auto;
}


#authorized h2 {
    text-align: center;
}

.rectangle_header,
.rectangle_footer {
    background-color: #006D68;
    height: 10px;
    width: auto;
}

/*#region АРТИКУЛЫ ТОВАРОВ */
.article__container {
    width: 900px;
    margin: 0 auto;
}

.article__block {
    display: flex;
}

.article__id {
    /*width: 100px;*/
    width: 11.1%;
}

.article__name {
    /*width: 275px;*/
    width: 30.5%;
}

.article__description {
    /*width: 425px;*/
    width: 47.22%;
}

.article__cost_min {
    /*width: 100px;*/
    width: 11.1%;
}
/*#endregion АРТИКУЛЫ ТОВАРОВ */

/*#region ЗАЯВКИ КЛИЕНТОВ */
.order__container {
    width: 900px;
    margin: 0 auto;
}

.order__block {
    display: flex;
}

.order__fio {
    /*width: 225px;*/
    width: 25%;
    /*25%*/
}

.order__contacts {
    /*width: 275px;*/
    width: 30.5%;
    /*30.5%*/
}

.order__product {
    /*width: 125px;*/
    width: 13.88%;
    /*13.88%*/
}

.order__status {
    /*width: 275px;*/
    width: 30.5%;
    /*30.5%*/
}
/*#endregion ЗАЯВКИ КЛИЕНТОВ */

body {
    background-color: #FBFFFF;
}

table {
    width: 400px;
}

/*#region МЕДИА-ЗАПРОСЫ */

@media screen and (max-width: 1200px) {
    /* Футер */
    .col-2 {
        width: 190px;
    }

    .order__container, .article__container {
        width: 800px;
    }
}

@media screen and (max-width: 992px) {
    /* Футер */
    .col-2 {
        width: 120px;
    }

    .col-3 {
        width: 260px;
    }

    .order__container, .article__container {
        width: 600px;
    }
}

@media screen and (max-width: 650px) {
    .order__container, .article__container {
        width: 420px;
    }

    .article__description {
        width: 37.22%;
    }

    .article__cost_min {
        width: 21.1%;
    }
}

@media screen and (max-width: 540px) {
    .order__container, .article__container {
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    /* Кнопка запуска чат-бота */
    .chatbot__btn {
        bottom: 8px !important;
        right: 8px !important;
    }

    /* Кнопка-вверх */
    .scrollup,
    .scrollup_catalog {
        bottom: 90px;
        right: 14px;
    }
}

@media screen and (max-width: 410px) {
    /* Футер */
    .col-2 {
        width: 100px;
        font-size: 0;
    }

    /* Слайдер */
    .sim-slider {
        padding: 7px;
        width: 260px;
    }

    div.sim-slider-arrow-left,
    div.sim-slider-arrow-right {
        top: 60%;
        height: 30px;
        width: 16.5px;
        background-size: cover;
    }
}

@media screen and (max-width: 300px) {
    /* Футер */
    .col-2 {
        margin-bottom: 25px;
    }

    /* Слайдер */
    .sim-slider {
        padding: 5px;
        width: 200px;
    }

    div.sim-slider-arrow-left,
    div.sim-slider-arrow-right {
        top: 60%;
        height: 30px;
        width: 16.5px;
        background-size: cover;
    }
}


/*#endregion МЕДИА-ЗАПРОСЫ */